extends ../layout

block content
    a(href='/jovenes/nuevo').button.btn.green Nuevo

    table
        thead
            tr
                th.center ID
                th Nombre
                th.center Región
                th.center Distrito
                th.center Grupo
                th.center Saldo
                th.center Opciones

        tbody
            if jovenes.length == 0
                tr
                    td(colspan='7').center No hay jóvenes inscritos
            else
                for item in jovenes
                    tr
                        td.center #{item.id}
                        td #{item.nombres} #{item.apellidos}
                        td.center #{item.grupo.distrito.region.nombre}
                        td.center #{item.grupo.distrito.nombre}
                        td.center #{item.grupo.nombre}
                        td.center #{item.saldo}
                        td.center
                            a(href='/jovenes/ver/#{item.id}',target='_blank').button.btn.green QR
                            a(href='/jovenes/#{item.id}/editar').button.btn  Editar
                            a(href='/jovenes/#{item.id}/borrar').button.btn.red  Borrar


    script(src='/javascripts/index.js')
