extends ../layout

block content
    form(action='/jovenes/create', method='post').col-md-6.col-md-offset-3
        if errors
            for item in errors
                div.alert.alert-error item
        div.form-group
            input(type="hidden",id="id",name="joven[id]",value="#{joven.id}")
            label(for="nombres") Nombres:
            input(type="text",class="form-control",id="nombres",name="joven[nombres]",placeholder="Nombres",value="#{joven.nombres}")

        div.form-group
            label(for="nombres") Apellidos:
            input(type="text",class="form-control",id="nombres",name="joven[apellidos]",placeholder="Apellidos",value="#{joven.apellidos}")

        div.form-group
            label(for="nombres") Región:
            select(class="form-control",id="nombres",name="joven[region]",value="#{joven.region}")
                option -- Seleccione --

        div.form-group
            label(for="nombres") Distrito:
            select(class="form-control",id="nombres",name="joven[distrito]",value="#{joven.distrito}")
                option -- Seleccione --

        div.form-group
            label(for="nombres") Grupo:
            select(class="form-control",id="nombres",name="joven[grupo]")
                option -- Seleccione --
                for item in grupos
                    option(selected=joven.grupo == item.id) #{item.nombre}

        div.form-group.form-button
            a(href='/jovenes').button.btn.red Cancelar
            button(type='submit').btn.green Guardar
