extends ../layout

block content
    a(href='/grupos/nuevo').button.btn.green Nuevo

    table
        thead
            tr
                th.center ID
                th Nombre
                th.center Distrito
                th.center Región
                th.center Opciones

        tbody
            if grupos.length == 0
                tr
                    td(colspan='5').center No hay grupos registrados
            else
                for item in grupos
                    tr
                        td.center #{item.id}
                        td #{item.nombre}
                        td.center #{item.distrito.nombre}
                        td.center #{item.distrito.region.nombre}
                        td.center
                            a(href='/grupos/#{item.id}/editar').button.btn  Editar
                            a(href='/grupos/#{item.id}/borrar').button.btn.red  Borrar


    script(src='/javascripts/index.js')
